* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .desktop-header {
        visibility: hidden;
        display: none;
    }
}

.mobile-header {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 1000px) {
    .mobile-header {
        display: flex;
        justify-content: space-between;
        height: 48px;
        visibility: visible;
    }
}

.body {
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 1000px) {
    .body {
        visibility: visible;
        display: unset;
    }
}

.utility-bar {
    height: 34px;
    width: 100vw;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.US-flag {
    margin: 5px 0px 7px 15px;
}

.icons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.icon {
    margin-right: 17px;
}

.icon:hover {
    opacity: 0.85;
}

.shopping-cart {
    background-color: #B81830;
    width: 52.5px;
    height: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .shopping-cart {
        background-color: transparent;
    }
}

.shopping-cart__icon {
    margin: 0 6px 0 10.5px;
}

@media screen and (max-width: 1000px) {
    .shopping-cart__icon {
        margin: 0 6px 0 0;
    }
    .shopping-cart__icon:hover {
        opacity: 0.85;
    }
}


.items-number {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 5px;
}

@media screen and (max-width: 1000px) {
    .items-number {
        color: rgba(0, 0, 0, 0.9);
    }
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 67px;
    box-shadow: 0 2px 4px rgba(25, 25, 25, 0.2);
}

.nav-bar-wrapper {
    display: flex;
}

.logo {
    width: 116px;
    margin-left: 14px;
}

@media screen and (max-width: 1000px) {
    .logo {
        width: 90px;
    }
}

.nav-tabs {
    list-style: none;
    display: flex;
    align-items: center;
    width: 680px;
    justify-content: space-evenly;
}

.nav-tabs__li {
    display: flex;
    height: 67px;
    align-items: center;
}

#nav-border-solutions.active {
    border-bottom: #B81830 3px solid;
    margin-top: 3px;
}

#nav-border-products.active {
    border-bottom: #B81830 3px solid;
    margin-top: 3px;
}

#nav-border-automation.active {
    border-bottom: #B81830 3px solid;
    margin-top: 3px;
}

#nav-border-education.active {
    border-bottom: #B81830 3px solid;
    margin-top: 3px;
}

#nav-border-resources.active {
    border-bottom: #B81830 3px solid;
    margin-top: 3px;
}

.nav-text {
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: #000;
    text-decoration: none;
}

#nav-text-solutions.active {
    color: #B81830;
}

#nav-text-products.active {
    color: #B81830;
}

#nav-text-automation.active {
    color: #B81830;
}

#nav-text-education.active {
    color: #B81830;
}

#nav-text-resources.active {
    color: #B81830;
}

.dropdown-desktop {
    height: 496px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    display: none;
}

#desktop-solutions.active {
    visibility: visible;
    display: flex;
}

.solutions-list {
    list-style: none;
    margin-left: 45px;
    visibility: hidden;
    display: none;
}

.solutions-list.active {
    visibility: visible;
    display: unset;
}

#desktop-products.active {
    visibility: visible;
    display: flex;
}

.products-list {
    list-style: none;
    margin-left: 45px;
    visibility: hidden;
    display: none;
}

.products-list.active {
    visibility: visible;
    display: unset;
}

#desktop-automation.active {
    visibility: visible;
    display: flex;
}

#desktop-education.active {
    visibility: visible;
    display: flex;
}

#desktop-resources.active {
    visibility: visible;
    display: flex;
}

.dropdown-desktop__list-item:first-of-type {
    margin-top: 36px;
}

.dropdown-desktop__list-item {
    margin-top: 18px;
}

.dropdown-desktop__title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: #171717;
}

.search-wrapper {
    display: flex;
}

.search-text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-right: 8px;
}

.search-button {
    border: none;
    background: transparent;
    margin: 1px 26.5px 0 0;
}

.mobile-wrapper {
    display: flex;
    margin-left: 15px;
}

.hamburger-menu {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 26px;
}

.hero-section {
    position: relative;
    object-fit: contain;
    z-index: 4;
}

.hero-section.hide {
    display: none;
    visibility: hidden;
}

.hero-image {
    width: 100%;
    height: auto;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}

.hero-title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 6px;
    margin-left: 18px;
}

.hero-description {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.9);
    width: 85%;
    text-align: left;
    margin-left: 18px;
}

.equipment-wrapper {
    display: flex;
}

.back-button {
    margin-left: 18px;
    margin-top: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.equipment {
    margin-left: 11px;
    margin-top: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #171717;
}

.introducing {
    text-transform: uppercase;
    color: #666666;
    margin-left: 18px;
    margin-top: 24px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.body-title {
    color: #171717;
    margin-top: 5px;
    margin-left: 18px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    width: 85%;
}

.body-description {
    margin-top: 9px;
    margin-left: 18px;
    text-align: left;
    width: 85%;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.learn-more-wrapper {
    display: flex;
}

.learn-more {
    text-transform: uppercase;
    color: #B81830;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    margin: 16px 6px 39px 18px;
}

.red-arrow {
    background: transparent;
    border: none;
    margin-top: 18.5px;
    height: 8px;
}

.video-screenshot {
    margin-left: 10px;
}

.mobile-menu {
    background: #E5E5E5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.mobile-menu.active {
    visibility: visible;
}

.menu-background {
    height: 38px;
    background: #171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-text {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-left: 16px;
}

.close-button {
    background: transparent;
    height: max-content;
    border: none;
    margin-right: 16px;
    cursor: pointer;
}

.menu-tab {
    height: 50px;
    border-bottom: 1px solid #D0D0D0;
    background: #ffffff;
}

.menu-link {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}

.menu-link__text {
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

.menu-bottom-link {
    display: flex;
    text-decoration: none;
    margin-left: 16px;
    margin-top: 26px;
}

.menu-bottom-link__text {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0 6px 0 8px;
}

.flag-text {
    color: #171717;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    margin-left: 7px;
}